 .u-section-1 {
  background-image: url("images/ethiopia-min.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 868px;
}

.u-section-1 .u-shape-1 {
  width: 403px;
  height: 483px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 60px 0 0 auto;
}

.u-section-1 .u-group-1 {
  width: 539px;
  min-height: 385px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  height: auto;
  margin: -434px 56px 109px auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  margin: 0;
}

.u-section-1 .u-text-2 {
  text-align: left;
  margin: 20px 0 0;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 716px;
  }

  .u-section-1 .u-group-1 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 548px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 604px;
  }

  .u-section-1 .u-group-1 {
    width: 488px;
    min-height: 368px;
    margin: -425px auto 60px 0;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.4375rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 795px;
  }

  .u-section-1 .u-shape-1 {
    width: 273px;
    height: 443px;
  }

  .u-section-1 .u-group-1 {
    width: 300px;
    min-height: 356px;
    margin-top: -399px;
    margin-bottom: 103px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 676px;
}

.u-section-2 .u-text-1 {
  margin: 60px 343px 0 0;
}

.u-section-2 .u-text-2 {
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-size: 1.25rem;
  margin: 30px 343px 0 0;
}

.u-section-2 .u-shape-1 {
  width: 115px;
  height: 115px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  margin: 40px auto 60px 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-right: 143px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 143px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-2 {
    font-size: 1.1111111111111112rem;
  }
} .u-section-3 {
  background-image: url("images/group-people-sitting-top-dune3.jpg");
}

.u-section-3 .u-sheet-1 {
  min-height: 459px;
}

@media (max-width: 1199px) {
   .u-section-3 {
    background-position: 50% 50%;
  }

  .u-section-3 .u-sheet-1 {
    min-height: 400px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 823px;
}

.u-section-4 .u-text-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 60px auto 0;
}

.u-section-4 .u-list-1 {
  width: 976px;
  margin: 50px auto 60px;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: repeat(2, calc(50% - 25px));
  min-height: 577px;
  grid-gap: 50px;
}

.u-section-4 .u-list-item-1 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-group-1 {
  min-height: 190px;
  height: auto;
  width: 90px;
  margin: 0 313px 0 0;
}

.u-section-4 .u-text-2 {
  font-size: 6rem;
  font-weight: 700;
  margin: 0 auto;
}

.u-section-4 .u-text-3 {
  margin: -190px 0 0 108px;
}

.u-section-4 .u-text-4 {
  font-size: 1.125rem;
  margin: 17px 0 0 108px;
}

.u-section-4 .u-list-item-2 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px;
}

.u-section-4 .u-group-2 {
  min-height: 190px;
  height: auto;
  width: 90px;
  margin: 0 313px 0 0;
}

.u-section-4 .u-text-5 {
  font-size: 6rem;
  font-weight: 700;
  line-height: 0.8;
  margin: 0 auto;
}

.u-section-4 .u-text-6 {
  font-weight: 400;
  margin: -190px 0 0 108px;
}

.u-section-4 .u-text-7 {
  font-size: 1.125rem;
  margin: 17px 0 0 108px;
}

.u-section-4 .u-list-item-3 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-5 {
  padding: 30px;
}

.u-section-4 .u-group-3 {
  min-height: 190px;
  height: auto;
  width: 90px;
  margin: 0 313px 0 0;
}

.u-section-4 .u-text-8 {
  font-size: 6rem;
  font-weight: 700;
  line-height: 0.8;
  margin: 0 auto;
}

.u-section-4 .u-text-9 {
  font-weight: 400;
  margin: -190px 0 0 108px;
}

.u-section-4 .u-text-10 {
  font-size: 1.125rem;
  margin: 17px 0 0 108px;
}

.u-section-4 .u-list-item-4 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-7 {
  padding: 30px;
}

.u-section-4 .u-group-4 {
  min-height: 190px;
  height: auto;
  width: 90px;
  margin: 0 313px 0 0;
}

.u-section-4 .u-text-11 {
  font-size: 6rem;
  font-weight: 700;
  line-height: 0.8;
  margin: 0 auto;
}

.u-section-4 .u-text-12 {
  font-weight: 400;
  margin: -190px 0 0 108px;
}

.u-section-4 .u-text-13 {
  font-size: 1.125rem;
  margin: 17px 0 0 108px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-list-1 {
    width: 940px;
  }

  .u-section-4 .u-repeater-1 {
    min-height: 557px;
  }

  .u-section-4 .u-group-1 {
    height: auto;
  }

  .u-section-4 .u-text-2 {
    line-height: 0.8;
  }

  .u-section-4 .u-text-3 {
    width: auto;
    margin-left: 115px;
  }

  .u-section-4 .u-text-4 {
    width: auto;
    margin-left: 115px;
  }

  .u-section-4 .u-group-2 {
    height: auto;
  }

  .u-section-4 .u-text-6 {
    width: auto;
    margin-left: 115px;
  }

  .u-section-4 .u-text-7 {
    width: auto;
    margin-left: 115px;
  }

  .u-section-4 .u-group-3 {
    height: auto;
  }

  .u-section-4 .u-text-9 {
    width: auto;
    margin-left: 115px;
  }

  .u-section-4 .u-text-10 {
    width: auto;
    margin-left: 115px;
  }

  .u-section-4 .u-group-4 {
    height: auto;
  }

  .u-section-4 .u-text-12 {
    width: auto;
    margin-left: 115px;
  }

  .u-section-4 .u-text-13 {
    width: auto;
    margin-left: 115px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-list-1 {
    width: 720px;
  }

  .u-section-4 .u-group-1 {
    min-height: 90px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 0;
  }

  .u-section-4 .u-text-3 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-4 .u-text-4 {
    margin-left: 0;
  }

  .u-section-4 .u-group-2 {
    min-height: 90px;
  }

  .u-section-4 .u-text-5 {
    margin-left: 0;
  }

  .u-section-4 .u-text-6 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-4 .u-text-7 {
    margin-left: 0;
  }

  .u-section-4 .u-group-3 {
    min-height: 90px;
  }

  .u-section-4 .u-text-8 {
    margin-left: 0;
  }

  .u-section-4 .u-text-9 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-4 .u-text-10 {
    margin-left: 0;
  }

  .u-section-4 .u-group-4 {
    min-height: 90px;
  }

  .u-section-4 .u-text-11 {
    margin-left: 0;
  }

  .u-section-4 .u-text-12 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-4 .u-text-13 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 893px;
  }

  .u-section-4 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 737px;
  }

  .u-section-4 .u-text-3 {
    margin-top: -90px;
    margin-left: 110px;
  }

  .u-section-4 .u-text-4 {
    margin-top: 13px;
    margin-left: 110px;
  }

  .u-section-4 .u-text-6 {
    margin-top: -90px;
    margin-left: 110px;
  }

  .u-section-4 .u-text-7 {
    margin-top: 13px;
    margin-left: 110px;
  }

  .u-section-4 .u-text-9 {
    margin-top: -90px;
    margin-left: 110px;
  }

  .u-section-4 .u-text-10 {
    margin-top: 13px;
    margin-left: 110px;
  }

  .u-section-4 .u-text-12 {
    margin-top: -90px;
    margin-left: 110px;
  }

  .u-section-4 .u-text-13 {
    margin-top: 13px;
    margin-left: 110px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-group-1 {
    width: 65px;
    margin-right: 255px;
  }

  .u-section-4 .u-text-2 {
    font-size: 4.5rem;
  }

  .u-section-4 .u-text-3 {
    margin-left: 89px;
  }

  .u-section-4 .u-text-4 {
    font-size: 1rem;
    margin-top: 15px;
    margin-left: 89px;
  }

  .u-section-4 .u-group-2 {
    width: 65px;
    margin-right: 255px;
  }

  .u-section-4 .u-text-5 {
    font-size: 4.5rem;
  }

  .u-section-4 .u-text-6 {
    margin-left: 89px;
  }

  .u-section-4 .u-text-7 {
    font-size: 1rem;
    margin-top: 15px;
    margin-left: 89px;
  }

  .u-section-4 .u-group-3 {
    width: 65px;
    margin-right: 255px;
  }

  .u-section-4 .u-text-8 {
    font-size: 4.5rem;
  }

  .u-section-4 .u-text-9 {
    margin-left: 89px;
  }

  .u-section-4 .u-text-10 {
    font-size: 1rem;
    margin-top: 15px;
    margin-left: 89px;
  }

  .u-section-4 .u-group-4 {
    width: 65px;
    margin-right: 255px;
  }

  .u-section-4 .u-text-11 {
    font-size: 4.5rem;
  }

  .u-section-4 .u-text-12 {
    margin-left: 89px;
  }

  .u-section-4 .u-text-13 {
    font-size: 1rem;
    margin-top: 15px;
    margin-left: 89px;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 559px;
}

.u-section-5 .u-tabs-1 {
  min-height: 439px;
  margin: 60px auto 60px 0;
}

.u-section-5 .u-tab-link-1 {
  font-size: 1rem;
  background-image: none;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 400;
  padding: 10px 25px;
}

.u-section-5 .u-tab-link-2 {
  font-size: 1rem;
  background-image: none;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding: 10px 25px;
}

.u-section-5 .u-tab-pane-1 {
  background-image: none;
}

.u-section-5 .u-container-layout-1 {
  padding: 25px 30px;
}

.u-section-5 .u-image-1 {
  width: 309px;
  height: 335px;
  margin: 0 0 0 auto;
}

.u-section-5 .u-text-1 {
  font-size: 1.25rem;
  margin: -335px 352px 0 0;
}

.u-section-5 .u-btn-1 {
  font-size: 1.125rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-image: none;
  margin: 50px auto 0 0;
  padding: 17px 38px 18px 37px;
}

.u-section-5 .u-text-2 {
  text-align: left;
  font-size: 1.125rem;
  margin: 20px auto 0 0;
}

.u-section-5 .u-btn-2 {
  border-style: solid;
  padding: 0;
}

.u-section-5 .u-tab-pane-2 {
  background-image: none;
}

.u-section-5 .u-container-layout-2 {
  padding: 25px 30px;
}

.u-section-5 .u-image-2 {
  width: 309px;
  height: 335px;
  margin: 0 0 0 auto;
}

.u-section-5 .u-text-3 {
  font-size: 1.25rem;
  margin: -335px 352px 0 0;
}

.u-section-5 .u-btn-3 {
  font-size: 1.125rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-image: none;
  margin: 50px auto 0 0;
  padding: 17px 38px 18px 37px;
}

.u-section-5 .u-text-4 {
  text-align: left;
  font-size: 1.125rem;
  margin: 20px auto 0 0;
}

.u-section-5 .u-btn-4 {
  border-style: solid;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-tabs-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-image-1 {
    height: 383px;
  }

  .u-section-5 .u-text-1 {
    width: auto;
    margin-top: -383px;
    margin-right: 351px;
  }

  .u-section-5 .u-text-3 {
    width: auto;
    margin-right: 355px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-tab-link-1 {
    font-size: 0.8125rem;
  }

  .u-section-5 .u-tab-link-2 {
    font-size: 0.8125rem;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.125rem;
    margin-right: 336px;
  }

  .u-section-5 .u-image-2 {
    width: 250px;
    margin-left: 410px;
  }

  .u-section-5 .u-text-3 {
    font-size: 1.125rem;
    margin-right: 280px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1063px;
  }

  .u-section-5 .u-tabs-1 {
    min-height: 933px;
    height: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-container-layout-1 {
    padding-right: 28px;
    padding-left: 29px;
  }

  .u-section-5 .u-image-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-text-1 {
    margin-top: 30px;
    margin-right: 0;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 26px;
    padding-right: 26px;
  }

  .u-section-5 .u-image-2 {
    height: 393px;
    object-position: 50% 0%;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-text-3 {
    margin-top: 30px;
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-5 .u-btn-3 {
    margin-left: 2px;
  }

  .u-section-5 .u-text-4 {
    margin-left: 2px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-tabs-1 {
    min-height: 1130px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-tab-link-1 {
    font-size: 1.25rem;
  }

  .u-section-5 .u-tab-link-2 {
    font-size: 1.25rem;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-5 .u-text-3 {
    margin-top: 20px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-5 .u-btn-3 {
    margin-left: 0;
  }

  .u-section-5 .u-text-4 {
    margin-left: 0;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 375px;
}

.u-section-6 .u-list-1 {
  margin-top: 68px;
  margin-bottom: 68px;
}

.u-section-6 .u-repeater-1 {
  grid-template-columns: repeat(4, calc(25% - 7.5px));
  min-height: 239px;
  grid-gap: 10px;
}

.u-section-6 .u-list-item-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px;
}

.u-section-6 .u-text-1 {
  font-size: 6rem;
  font-weight: 700;
  margin: 0 auto;
}

.u-section-6 .u-text-2 {
  text-transform: none;
  margin: 20px auto 0;
}

.u-section-6 .u-list-item-2 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px;
}

.u-section-6 .u-text-3 {
  font-size: 6rem;
  font-weight: 700;
  margin: 0 auto;
}

.u-section-6 .u-text-4 {
  text-transform: none;
  margin: 20px auto 0;
}

.u-section-6 .u-list-item-3 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-6 .u-container-layout-3 {
  padding: 30px;
}

.u-section-6 .u-text-5 {
  font-size: 6rem;
  font-weight: 700;
  margin: 0 auto;
}

.u-section-6 .u-text-6 {
  text-transform: none;
  margin: 20px auto 0;
}

.u-section-6 .u-list-item-4 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-6 .u-container-layout-4 {
  padding: 30px;
}

.u-section-6 .u-text-7 {
  font-size: 6rem;
  font-weight: 700;
  margin: 0 auto;
}

.u-section-6 .u-text-8 {
  text-transform: none;
  margin: 20px auto 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-repeater-1 {
    min-height: 196px;
  }

  .u-section-6 .u-text-1 {
    font-size: 4.5rem;
  }

  .u-section-6 .u-text-3 {
    font-size: 4.5rem;
  }

  .u-section-6 .u-text-5 {
    font-size: 4.5rem;
  }

  .u-section-6 .u-text-7 {
    font-size: 4.5rem;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 547px;
  }

  .u-section-6 .u-list-1 {
    margin-top: 60px;
    margin-bottom: 60px;
  }

  .u-section-6 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 5px));
    min-height: 417px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-repeater-1 {
    grid-template-columns: 100%;
  }
} .u-section-7 {
  background-image: none;
  min-height: 1081px;
}

.u-section-7 .u-shape-1 {
  height: 491px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-7 .u-image-1 {
  width: 746px;
  height: 746px;
  background-image: url("images/8767.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  margin: -406px calc(((100% - 1140px) / 2) + 74px) 0 auto;
}

.u-section-7 .u-group-1 {
  width: 539px;
  min-height: 485px;
  background-image: none;
  height: auto;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -295px auto 0 calc(((100% - 1140px) / 2) + 31px);
}

.u-section-7 .u-container-layout-1 {
  padding: 30px;
}

.u-section-7 .u-text-1 {
  font-size: 2.25rem;
  margin: 0;
}

.u-section-7 .u-text-2 {
  letter-spacing: normal;
  font-size: 1.125rem;
  font-weight: 400;
  text-transform: none;
  margin: 27px 0 0;
}

.u-section-7 .u-btn-1 {
  border-style: solid;
  font-weight: 500;
  padding: 0;
}

.u-section-7 .u-btn-2 {
  font-size: 1.125rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-image: none;
  margin: 34px auto 0 0;
  padding: 17px 38px 18px 37px;
}

.u-section-7 .u-shape-2 {
  width: 161px;
  height: 161px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  margin: -960px auto 60px calc(((100% - 1140px) / 2) + 31px);
}

@media (max-width: 1199px) {
   .u-section-7 {
    min-height: 1089px;
  }

  .u-section-7 .u-image-1 {
    margin-right: calc(((100% - 940px) / 2));
  }

  .u-section-7 .u-group-1 {
    width: 474px;
    min-height: 474px;
    margin-left: calc(((100% - 940px) / 2) + 31px);
    height: auto;
  }

  .u-section-7 .u-shape-2 {
    margin-top: -949px;
    margin-left: calc(((100% - 940px) / 2) + 31px);
  }
}

@media (max-width: 991px) {
   .u-section-7 {
    min-height: 1083px;
  }

  .u-section-7 .u-image-1 {
    width: 565px;
    height: 565px;
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-7 .u-group-1 {
    margin-top: -100px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-7 .u-shape-2 {
    width: 137px;
    height: 137px;
    margin-top: -965px;
    margin-left: calc(((100% - 720px) / 2));
  }
}

@media (max-width: 767px) {
   .u-section-7 {
    min-height: 1091px;
  }

  .u-section-7 .u-image-1 {
    width: 473px;
    height: 473px;
    margin-top: -361px;
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-7 .u-group-1 {
    width: 409px;
    min-height: 482px;
    margin-top: -53px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-7 .u-shape-2 {
    width: 112px;
    height: 112px;
    margin-top: -973px;
    margin-left: calc(((100% - 540px) / 2));
  }
}

@media (max-width: 575px) {
   .u-section-7 {
    min-height: 1014px;
  }

  .u-section-7 .u-shape-1 {
    height: 367px;
  }

  .u-section-7 .u-image-1 {
    width: 320px;
    height: 320px;
    margin-top: -217px;
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-7 .u-group-1 {
    width: 296px;
    min-height: 536px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-7 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-7 .u-shape-2 {
    width: 93px;
    height: 93px;
    margin-top: -892px;
    margin-left: calc(((100% - 340px) / 2));
  }
} .u-section-8 {
  background-image: none;
}

.u-section-8 .u-sheet-1 {
  min-height: 665px;
}

.u-section-8 .u-text-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 60px 0 0 auto;
}

.u-section-8 .u-text-2 {
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-size: 1.25rem;
  margin: 40px 0 0 317px;
}

.u-section-8 .u-shape-1 {
  width: 115px;
  height: 115px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  margin: 40px 0 60px auto;
}

@media (max-width: 1199px) {
  .u-section-8 .u-text-2 {
    margin-left: 117px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-text-2 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-text-2 {
    font-size: 1.1111111111111112rem;
  }
} .u-section-9 {
  background-image: none;
}

.u-section-9 .u-sheet-1 {
  min-height: 825px;
}

.u-section-9 .u-text-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 68px auto 0;
}

.u-section-9 .u-list-1 {
  width: 1112px;
  margin: 47px auto 60px;
}

.u-section-9 .u-repeater-1 {
  grid-template-columns: repeat(2, calc(50% - 15px));
  min-height: 588px;
  grid-gap: 30px;
}

.u-section-9 .u-list-item-1 {
  background-image: none;
  box-shadow: 5px 5px 32px 0 rgba(0,0,0,0.05);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-9 .u-container-layout-1 {
  padding: 30px;
}

.u-section-9 .u-text-2 {
  font-size: 1.125rem;
  margin: 0;
}

.u-section-9 .u-text-3 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  font-size: 1rem;
  margin: 20px auto 0 0;
}

.u-section-9 .u-list-item-2 {
  background-image: none;
  box-shadow: 5px 5px 32px 0 rgba(0,0,0,0.05);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-9 .u-container-layout-2 {
  padding: 30px;
}

.u-section-9 .u-text-4 {
  font-size: 1.125rem;
  margin: 0;
}

.u-section-9 .u-text-5 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  font-size: 1rem;
  margin: 20px auto 0 0;
}

.u-section-9 .u-list-item-3 {
  background-image: none;
  box-shadow: 5px 5px 32px 0 rgba(0,0,0,0.05);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-9 .u-container-layout-3 {
  padding: 30px;
}

.u-section-9 .u-text-6 {
  font-size: 1.125rem;
  margin: 0;
}

.u-section-9 .u-text-7 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  font-size: 1rem;
  margin: 20px auto 0 0;
}

.u-section-9 .u-list-item-4 {
  background-image: none;
  box-shadow: 5px 5px 32px 0 rgba(0,0,0,0.05);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-9 .u-container-layout-4 {
  padding: 30px;
}

.u-section-9 .u-text-8 {
  font-size: 1.125rem;
  margin: 0;
}

.u-section-9 .u-text-9 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  font-size: 1rem;
  margin: 20px auto 0 0;
}

.u-section-9 .u-list-item-5 {
  background-image: none;
  box-shadow: 5px 5px 32px 0 rgba(0,0,0,0.05);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-9 .u-container-layout-5 {
  padding: 30px;
}

.u-section-9 .u-text-10 {
  font-size: 1.125rem;
  margin: 0;
}

.u-section-9 .u-text-11 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  font-size: 1rem;
  margin: 20px auto 0 0;
}

.u-section-9 .u-list-item-6 {
  background-image: none;
  box-shadow: 5px 5px 32px 0 rgba(0,0,0,0.05);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-9 .u-container-layout-6 {
  padding: 30px;
}

.u-section-9 .u-text-12 {
  font-size: 1.125rem;
  margin: 0;
}

.u-section-9 .u-text-13 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  font-size: 1rem;
  margin: 20px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-9 .u-list-1 {
    width: 940px;
  }

  .u-section-9 .u-repeater-1 {
    min-height: 504px;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-list-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-list-1 {
    width: 540px;
  }

  .u-section-9 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-list-1 {
    width: 340px;
  }

  .u-section-9 .u-text-2 {
    width: auto;
  }

  .u-section-9 .u-text-3 {
    margin-left: auto;
  }

  .u-section-9 .u-text-4 {
    width: auto;
  }

  .u-section-9 .u-text-5 {
    margin-left: auto;
  }

  .u-section-9 .u-text-6 {
    width: auto;
  }

  .u-section-9 .u-text-7 {
    margin-left: auto;
  }

  .u-section-9 .u-text-8 {
    width: auto;
  }

  .u-section-9 .u-text-9 {
    margin-left: auto;
  }

  .u-section-9 .u-text-10 {
    width: auto;
  }

  .u-section-9 .u-text-11 {
    margin-left: auto;
  }

  .u-section-9 .u-text-12 {
    width: auto;
  }

  .u-section-9 .u-text-13 {
    margin-left: auto;
  }
} .u-section-10 {
  background-image: none;
  min-height: 703px;
}

.u-section-10 .u-shape-1 {
  height: 485px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-10 .u-layout-wrap-1 {
  width: 1140px;
  margin: -405px auto 60px;
}

.u-section-10 .u-layout-cell-1 {
  min-height: 569px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-10 .u-container-layout-1 {
  padding: 30px;
}

.u-section-10 .u-list-1 {
  width: 459px;
  margin: 0 auto;
}

.u-section-10 .u-repeater-1 {
  grid-template-columns: repeat(1, 100%);
  min-height: 387px;
  grid-gap: 0px;
}

.u-section-10 .u-list-item-1 {
  background-image: none;
}

.u-section-10 .u-container-layout-2 {
  padding: 20px 30px 15px;
}

.u-section-10 .u-icon-1 {
  height: 22px;
  width: 22px;
  margin: 0 auto 0 0;
}

.u-section-10 .u-text-1 {
  font-weight: 700;
  text-transform: uppercase;
  margin: -22px 1px 0 40px;
}

.u-section-10 .u-text-2 {
  margin: 20px 1px 0;
}

.u-section-10 .u-list-item-2 {
  background-image: none;
}

.u-section-10 .u-container-layout-3 {
  padding: 20px 30px 15px;
}

.u-section-10 .u-icon-2 {
  height: 22px;
  width: 22px;
  margin: 0 auto 0 0;
}

.u-section-10 .u-text-3 {
  font-weight: 700;
  text-transform: uppercase;
  margin: -22px 1px 0 40px;
}

.u-section-10 .u-text-4 {
  margin: 20px 1px 0;
}

.u-section-10 .u-list-item-3 {
  background-image: none;
}

.u-section-10 .u-container-layout-4 {
  padding: 20px 30px 15px;
}

.u-section-10 .u-icon-3 {
  height: 22px;
  width: 22px;
  margin: 0 auto 0 0;
}

.u-section-10 .u-text-5 {
  font-weight: 700;
  text-transform: uppercase;
  margin: -22px 1px 0 40px;
}

.u-section-10 .u-text-6 {
  margin: 20px 1px 0;
}

.u-section-10 .u-layout-cell-2 {
  min-height: 569px;
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-10 .u-container-layout-5 {
  padding: 30px;
}

.u-section-10 .u-form-1 {
  height: 375px;
  width: 450px;
  margin: 0 auto;
}

.u-section-10 .u-text-7 {
  margin-left: 0;
}

.u-section-10 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  width: 100%;
  padding: 14px 0 15px;
}

@media (max-width: 1199px) {
   .u-section-10 {
    min-height: 603px;
  }

  .u-section-10 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-10 .u-layout-cell-1 {
    min-height: 469px;
  }

  .u-section-10 .u-list-1 {
    width: 397px;
  }

  .u-section-10 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-10 .u-text-1 {
    width: auto;
    margin-right: 0;
    margin-left: 48px;
  }

  .u-section-10 .u-text-2 {
    width: auto;
    margin-top: 17px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-10 .u-text-3 {
    width: auto;
    margin-right: 0;
    margin-left: 48px;
  }

  .u-section-10 .u-text-4 {
    width: auto;
    margin-top: 17px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-10 .u-text-5 {
    width: auto;
    margin-right: 0;
    margin-left: 48px;
  }

  .u-section-10 .u-text-6 {
    width: auto;
    margin-top: 17px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-10 .u-layout-cell-2 {
    min-height: 469px;
  }

  .u-section-10 .u-form-1 {
    width: 397px;
  }
}

@media (max-width: 991px) {
   .u-section-10 {
    min-height: 234px;
  }

  .u-section-10 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-10 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-10 .u-list-1 {
    width: 287px;
  }

  .u-section-10 .u-text-1 {
    margin-top: -16px;
    margin-left: 52px;
  }

  .u-section-10 .u-text-2 {
    margin-top: 8px;
  }

  .u-section-10 .u-text-3 {
    margin-top: -16px;
    margin-left: 52px;
  }

  .u-section-10 .u-text-4 {
    margin-top: 8px;
  }

  .u-section-10 .u-text-5 {
    margin-top: -16px;
    margin-left: 52px;
  }

  .u-section-10 .u-text-6 {
    margin-top: 8px;
  }

  .u-section-10 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-10 .u-form-1 {
    width: 287px;
  }
}

@media (max-width: 767px) {
   .u-section-10 {
    min-height: 334px;
  }

  .u-section-10 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-10 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-10 .u-list-1 {
    width: 361px;
  }

  .u-section-10 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-10 .u-text-1 {
    margin-top: -22px;
  }

  .u-section-10 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-10 .u-text-3 {
    margin-top: -22px;
  }

  .u-section-10 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-10 .u-text-5 {
    margin-top: -22px;
  }

  .u-section-10 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-10 .u-form-1 {
    height: 371px;
    width: 387px;
  }
}

@media (max-width: 575px) {
  .u-section-10 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-10 .u-list-1 {
    width: 320px;
  }

  .u-section-10 .u-text-1 {
    margin-left: 43px;
  }

  .u-section-10 .u-text-2 {
    margin-top: 19px;
  }

  .u-section-10 .u-text-3 {
    margin-left: 43px;
  }

  .u-section-10 .u-text-4 {
    margin-top: 19px;
  }

  .u-section-10 .u-text-5 {
    margin-left: 43px;
  }

  .u-section-10 .u-text-6 {
    margin-top: 19px;
  }

  .u-section-10 .u-form-1 {
    width: 320px;
  }
}